@model ProductViewModel
@{
    ViewData["Title"] = "Product Details";
}


<h1 class="alert alert-warning">Product Details</h1>

<partial name="Partial Views/DetailsDeleteProductPartialView" />

<a asp-action="Update" class="btn btn-success" asp-route-id="@Model.Id">Update</a> |
<a asp-action="Index" class="btn btn-light">Back To List</a>